snippet root
	<${1:root}
		xmlns:android="http://schemas.android.com/apk/res/android"
		>
	</$1>
snippet layout
	<${1:LinearLayout}
		xmlns:android="http://schemas.android.com/apk/res/android"
		android:orientation="vertical"
		android:layout_width="fill_parent"
		android:layout_height="fill_parent"
		>
	</$1>
snippet pref
	<${1:PreferenceName}
		android:key="${2}"
		android:title="@string/${3}"
		android:summary="@string/${4}"
		android:defaultValue="${5}"
		/>
