snippet activity
	import android.app.Activity;
	import android.os.Bundle;

	public class ${1:`fnamemodify(Filename(), ':r:h')`} extends Activity
	{
		@Override public void onCreate(Bundle savedInstanceState)
		{
			super.onCreate(savedInstanceState);
			setContentView(R.layout.main);
		}
	}
snippet over
	@Override public void ${1:method}(${2}) {
		super.$1(${3});
	}
