snippet vhost
	<VirtualHost *:80>
		ServerName ${1:test.localhost}
		DocumentRoot "/home/andrew/projects/${2:test}"
		DirectoryIndex index.php
		<Directory "/home/andrew/projects/$2">
			AllowOverride All
			Allow from All
			Options -MultiViews
		</Directory>
	</VirtualHost>
