snippet #t
	# TODO (`strftime("%Y-%m-%d")`) ${1}
snippet req
	require '${1}'
snippet f
	(${1:}) ->
		${2:# code}
snippet f=
	${1:function} = (${2:}) ->
		${3:# code}
snippet f;
	${1:function}: (${2:}) ->
		${3:# code}
snippet des
	describe "${1:foo}", ->
		${2:# code}
snippet it
	it "${1:twiddles}", (done) ->
		${2:# code}
