snippet -
	<% ${1} %>
snippet =
	<%= ${1} %>
snippet --
	<%- ${1} %>
snippet #
	<%# ${1} %>
snippet for
	<% for ${1:item} in ${2:collection}: %>
	  ${3}
	<% end %>
snippet if
	<% if ${1:true}: %>
	  ${2}
	<% end %>
snippet ife
	<% if ${1:true}: %>
	  ${2}
	<% else: %>
	  ${3}
	<% end %>
