snippet ex
	export default ${1};
snippet im
	import ${1:Ember} from '${2:ember}';
snippet prop
	(->
		${1}
	).property(${2}),
snippet route
	route = Ember.Route.extend({
		model: function() {

		},
	});
snippet controller
	controller = Ember.Controller.extend({

	});
snippet model
	model = DS.Model.extend({

	});
