snippet if
	if ${1:condition} {
		${2}
	}
snippet iferr
	if ${1:v}, err := ${2:statement}; err != nil {
		${3}
	}
snippet ifd
	if ${1:v}, _ := ${2:statement}; ${3:condition} {
		${4}
	}
snippet main
	package main

	import (
	)

	func main() {

	}
snippet fun
	func ${1:name}(${2:argument string}) (${3:returnType}) {
		${4}
	}
snippet err
	if err != nil { panic(err) }
snippet dump
	fmt.Printf("%v\n", ${1:variable})
