# Helpers
snippet t
	t('${1}')
snippet =t
	<%= t('${1}') %>
snippet lt
	<%= link_to '${1:Label}', ${2:root_path} %>
snippet tlt
	<%= link_to t('${1:label}'), ${2:root_path} %>
snippet ltd
	<%= link_to ${1:root_path} do %>
		${2}
	<% end %>
snippet cf
	<% content_for :${1:head} do %>
		${2}
	<% end %>
snippet ren
	<%= render '${1}'${2} %>
snippet renp
	<%= render :partial => '${1}'${2} %>
snippet renc
	<%= render :partial => '${1}', :collection => ${2} %>
