snippet code
>
	${1}
<
endsnippet

snippet section
==============================================================================
${1:SECTION}                                                *${2:plugin}-${3:section}*
endsnippet

snippet subsection
${1:Subsection} ~

${1}
endsnippet

snippet setting
					*g:${1:setting_name}*
>
	let g:$1 = 'TODO'
<
Default value: TODO

${2}
endsnippet
