snippet image
![Alt text](http://example.com)
endsnippet

snippet badge
[![Build Status](https://secure.travis-ci.org/AndrewRadev/${1:plugin_name}.png?branch=master)](http://travis-ci.org/AndrewRadev/$1)
endsnippet
