# Copied from https://github.com/ShawnHuang/ulti-snippets

snippet eq "Equation" b
\begin{equation}
	$0
\end{equation}
endsnippet

snippet frac "Fraction" w
\frac{${1:${VISUAL:nom}}}{${2:denom}}
endsnippet

# vim:ft=snippets:
