[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = http://github.com/tpope/vim-markdown.git
[submodule "bundle/bufsurf"]
	path = bundle/bufsurf
	url = http://github.com/ton/vim-bufsurf.git
[submodule "bundle/html5"]
	path = bundle/html5
	url = http://github.com/othree/html5.vim.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/splitjoin"]
	path = bundle/splitjoin
	url = git@github.com:AndrewRadev/splitjoin.vim.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = git@github.com:AndrewRadev/ack.vim.git
[submodule "bundle/gitv"]
	path = bundle/gitv
	url = https://github.com/gregsexton/gitv.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/threesome"]
	path = bundle/threesome
	url = https://github.com/sjl/threesome.vim.git
[submodule "bundle/textile"]
	path = bundle/textile
	url = https://github.com/timcharper/textile.vim.git
[submodule "bundle/ruby"]
	path = bundle/ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule "bundle/linediff"]
	path = bundle/linediff
	url = git@github.com:AndrewRadev/linediff.vim.git
[submodule "bundle/slim"]
	path = bundle/slim
	url = https://github.com/bbommarito/vim-slim.git
[submodule "bundle/bundler"]
	path = bundle/bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "bundle/cucumber"]
	path = bundle/cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "bundle/extradite"]
	path = bundle/extradite
	url = https://github.com/int3/vim-extradite.git
[submodule "bundle/tagfinder"]
	path = bundle/tagfinder
	url = git@github.com:AndrewRadev/tagfinder.vim.git
[submodule "bundle/google_scribe"]
	path = bundle/google_scribe
	url = https://github.com/dubenstein/vim-google-scribe.git
[submodule "bundle/github_search"]
	path = bundle/github_search
	url = https://github.com/gmarik/github-search.vim.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/inline_edit"]
	path = bundle/inline_edit
	url = git@github.com:AndrewRadev/inline_edit.vim.git
[submodule "bundle/simple_bookmarks"]
	path = bundle/simple_bookmarks
	url = git@github.com:AndrewRadev/simple_bookmarks.vim.git
[submodule "bundle/coffeescript"]
	path = bundle/coffeescript
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/tabman"]
	path = bundle/tabman
	url = https://github.com/kien/tabman.vim.git
[submodule "bundle/arduino"]
	path = bundle/arduino
	url = https://github.com/tclem/vim-arduino.git
[submodule "bundle/edit_archive"]
	path = bundle/edit_archive
	url = git@github.com:AndrewRadev/edit_archive.vim.git
[submodule "bundle/git"]
	path = bundle/git
	url = https://github.com/tpope/vim-git.git
