[submodule "bundle/fugitive"]
  path = bundle/fugitive
  url = https://github.com/tpope/vim-fugitive
[submodule "bundle/markdown"]
  path = bundle/markdown
  url = https://github.com/tpope/vim-markdown
[submodule "bundle/bufsurf"]
  path = bundle/bufsurf
  url = https://github.com/ton/vim-bufsurf
[submodule "bundle/html5"]
  path = bundle/html5
  url = https://github.com/othree/html5.vim
[submodule "bundle/tabular"]
  path = bundle/tabular
  url = https://github.com/godlygeek/tabular.git
[submodule "bundle/splitjoin"]
  path = bundle/splitjoin
  url = ../splitjoin.vim.git
[submodule "bundle/ack"]
  path = bundle/ack
  url = ../ack.vim.git
[submodule "bundle/gitv"]
  path = bundle/gitv
  url = https://github.com/gregsexton/gitv.git
[submodule "bundle/rails"]
  path = bundle/rails
  url = https://github.com/tpope/vim-rails.git
[submodule "bundle/unimpaired"]
  path = bundle/unimpaired
  url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/nerdtree"]
  path = bundle/nerdtree
  url = ../nerdtree.git
[submodule "bundle/ruby"]
  path = bundle/ruby
  url = ../../vim-ruby/vim-ruby.git
[submodule "bundle/linediff"]
  path = bundle/linediff
  url = ../linediff.vim.git
[submodule "bundle/extradite"]
  path = bundle/extradite
  url = https://github.com/int3/vim-extradite.git
[submodule "bundle/tagfinder"]
  path = bundle/tagfinder
  url = ../tagfinder.vim.git
[submodule "bundle/inline_edit"]
  path = bundle/inline_edit
  url = ../inline_edit.vim.git
[submodule "bundle/simple_bookmarks"]
  path = bundle/simple_bookmarks
  url = ../simple_bookmarks.vim.git
[submodule "bundle/coffeescript"]
  path = bundle/coffeescript
  url = ../vim-coffee-script.git
[submodule "bundle/archivitor"]
  path = bundle/archivitor
  url = ../archivitor.vim.git
  ignore = untracked
[submodule "bundle/git"]
  path = bundle/git
  url = https://github.com/tpope/vim-git.git
[submodule "bundle/haml"]
  path = bundle/haml
  url = https://github.com/tpope/vim-haml.git
[submodule "bundle/coffee_tools"]
  path = bundle/coffee_tools
  url = ../coffee_tools.vim.git
[submodule "bundle/nyancat"]
  path = bundle/nyancat
  url = https://github.com/koron/nyancat-vim.git
[submodule "bundle/gist"]
  path = bundle/gist
  url = https://github.com/mattn/gist-vim.git
[submodule "bundle/lesscss"]
  path = bundle/lesscss
  url = https://github.com/groenewege/vim-less.git
[submodule "bundle/webapi"]
  path = bundle/webapi
  url = https://github.com/mattn/webapi-vim.git
[submodule "bundle/rtranslate"]
  path = bundle/rtranslate
  url = ../rtranslate.vim.git
[submodule "bundle/jst"]
  path = bundle/jst
  url = https://github.com/briancollins/vim-jst.git
[submodule "bundle/switch"]
  path = bundle/switch
  url = ../switch.vim.git
[submodule "bundle/sideways"]
  path = bundle/sideways
  url = ../sideways.vim.git
[submodule "bundle/eco"]
  path = bundle/eco
  url = ../vim-eco.git
[submodule "bundle/multichange"]
  path = bundle/multichange
  url = ../multichange.vim.git
[submodule "bundle/whitespaste"]
  path = bundle/whitespaste
  url = ../whitespaste.vim.git
[submodule "bundle/repeat"]
  path = bundle/repeat
  url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/pasta"]
  path = bundle/pasta
  url = https://github.com/sickill/vim-pasta.git
[submodule "bundle/id3"]
  path = bundle/id3
  url = ../id3.vim.git
[submodule "bundle/undoquit"]
  path = bundle/undoquit
  url = ../undoquit.vim.git
[submodule "bundle/characterize"]
  path = bundle/characterize
  url = https://github.com/tpope/vim-characterize.git
[submodule "bundle/table-mode"]
  path = bundle/table-mode
  url = https://github.com/dhruvasagar/vim-table-mode.git
[submodule "bundle/writable_search"]
  path = bundle/writable_search
  url = ../writable_search.vim.git
[submodule "bundle/slim"]
  path = bundle/slim
  url = https://github.com/slim-template/vim-slim.git
[submodule "bundle/gundo"]
  path = bundle/gundo
  url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/exchange"]
  path = bundle/exchange
  url = https://github.com/tommcdo/vim-exchange
[submodule "bundle/projectionist"]
  path = bundle/projectionist
  url = https://github.com/tpope/vim-projectionist.git
[submodule "bundle/rust"]
  path = bundle/rust
  url = https://github.com/rust-lang/rust.vim
[submodule "bundle/rengbang"]
  path = bundle/rengbang
  url = https://github.com/deris/vim-rengbang
[submodule "bundle/rimplement"]
  path = bundle/rimplement
  url = ../rimplement.vim.git
[submodule "bundle/elixir"]
  path = bundle/elixir
  url = https://github.com/elixir-lang/vim-elixir
[submodule "bundle/csv"]
  path = bundle/csv
  url = https://github.com/chrisbra/csv.vim
[submodule "bundle/andrews_nerdtree"]
  path = bundle/andrews_nerdtree
  url = ../andrews_nerdtree.vim.git
[submodule "bundle/mustache-handlebars"]
  path = bundle/mustache-handlebars
  url = ../vim-mustache-handlebars.git
[submodule "bundle/modsearch"]
  path = bundle/modsearch
  url = ../modsearch.vim.git
[submodule "bundle/autotag"]
  path = bundle/autotag
  url = ../vim-autotag.git
[submodule "bundle/ember_tools"]
  path = bundle/ember_tools
  url = ../ember_tools.vim.git
[submodule "bundle/yajs"]
  path = bundle/yajs
  url = https://github.com/othree/yajs.vim
[submodule "bundle/vimhelplint"]
  path = bundle/vimhelplint
  url = https://github.com/machakann/vim-vimhelplint
  ignore = untracked
[submodule "bundle/zoom_win"]
  path = bundle/zoom_win
  url = https://github.com/vim-scripts/ZoomWin
[submodule "bundle/proj"]
  path = bundle/proj
  url = https://github.com/vim-scripts/Proj
[submodule "bundle/smartword"]
  path = bundle/smartword
  url = https://github.com/kana/vim-smartword
[submodule "bundle/bufferize"]
  path = bundle/bufferize
  url = ../bufferize.vim.git
[submodule "bundle/gnugo"]
  path = bundle/gnugo
  url = ../gnugo.vim.git
[submodule "bundle/qftools"]
  path = bundle/qftools
  url = ../qftools.vim.git
[submodule "bundle/markdown-toc"]
  path = bundle/markdown-toc
  url = https://github.com/mzlogin/vim-markdown-toc
[submodule "bundle/uppercase-sql"]
  path = bundle/uppercase-sql
  url = https://github.com/alcesleo/vim-uppercase-sql
[submodule "bundle/ginitpull"]
  path = bundle/ginitpull
  url = ../ginitpull.vim.git
[submodule "bundle/dsf"]
  path = bundle/dsf
  url = ../dsf.vim.git
[submodule "bundle/yankwin"]
  path = bundle/yankwin
  url = ../yankwin.vim.git
[submodule "bundle/lookup"]
  path = bundle/lookup
  url = https://github.com/mhinz/vim-lookup
[submodule "bundle/exception"]
  path = bundle/exception
  url = https://github.com/tweekmonster/exception.vim
[submodule "bundle/startuptime"]
  path = bundle/startuptime
  url = https://github.com/tweekmonster/startuptime.vim
[submodule "bundle/deleft"]
  path = bundle/deleft
  url = ../deleft.vim.git
[submodule "bundle/endwise"]
  path = bundle/endwise
  url = https://github.com/tpope/vim-endwise
[submodule "bundle/ultisnips"]
  path = bundle/ultisnips
  url = https://github.com/SirVer/ultisnips
[submodule "bundle/vader"]
  path = bundle/vader
  url = https://github.com/junegunn/vader.vim
[submodule "bundle/vis"]
  path = bundle/vis
  url = https://github.com/vim-scripts/vis
[submodule "bundle/niceblock"]
  path = bundle/niceblock
  url = https://github.com/kana/vim-niceblock
[submodule "bundle/http-client"]
  path = bundle/http-client
  url = https://github.com/aquach/vim-http-client
[submodule "bundle/fetch"]
  path = bundle/fetch
  url = https://github.com/kopischke/vim-fetch
[submodule "bundle/rhubarb"]
  path = bundle/rhubarb
  url = https://github.com/tpope/vim-rhubarb
[submodule "bundle/exercism"]
  path = bundle/exercism
  url = ../exercism.vim.git
[submodule "bundle/discotheque"]
  path = bundle/discotheque
  url = ../discotheque.vim.git
[submodule "bundle/swift"]
  path = bundle/swift
  url = https://github.com/keith/swift.vim
[submodule "bundle/surround"]
  path = bundle/surround
  url = https://github.com/tpope/vim-surround
[submodule "bundle/tagalong"]
  path = bundle/tagalong
  url = ../tagalong.vim.git
[submodule "bundle/ron"]
  path = bundle/ron
  url = https://github.com/ron-rs/ron.vim
[submodule "bundle/kotlin"]
  path = bundle/kotlin
  url = https://github.com/udalov/kotlin-vim
[submodule "bundle/tcomment"]
  path = bundle/tcomment
  url = https://github.com/tomtom/tcomment_vim
[submodule "bundle/renamer"]
  path = bundle/renamer
  url = https://github.com/qpkorr/vim-renamer
[submodule "bundle/helplink"]
  path = bundle/helplink
  url = https://github.com/arp242/helplink.vim
[submodule "bundle/loclist-follow"]
  path = bundle/loclist-follow
  url = https://github.com/elbeardmorez/vim-loclist-follow
[submodule "bundle/flog"]
  path = bundle/flog
  url = https://github.com/rbong/vim-flog
[submodule "bundle/convert-color-to"]
  path = bundle/convert-color-to
  url = https://github.com/amadeus/vim-convert-color-to
[submodule "bundle/silicon"]
  path = bundle/silicon
  url = https://github.com/segeljakt/vim-silicon
[submodule "bundle/toml"]
  path = bundle/toml
  url = https://github.com/cespare/vim-toml
[submodule "bundle/quickpeek"]
  path = bundle/quickpeek
  url = ../quickpeek.vim.git
[submodule "bundle/http"]
  path = bundle/http
  url = https://github.com/nicwest/vim-http
[submodule "bundle/killersheep"]
  path = bundle/killersheep
  url = https://github.com/vim/killersheep
[submodule "bundle/crates"]
  path = bundle/crates
  url = ../vim-crates
[submodule "bundle/json"]
  path = bundle/json
  url = https://github.com/elzr/vim-json
[submodule "bundle/isotope"]
  path = bundle/isotope
  url = https://github.com/segeljakt/vim-isotope
[submodule "bundle/pickachu"]
  path = bundle/pickachu
  url = ../pickachu
[submodule "bundle/javascript"]
  path = bundle/javascript
  url = https://github.com/pangloss/vim-javascript
[submodule "bundle/jsx-pretty"]
  path = bundle/jsx-pretty
  url = https://github.com/AndrewRadev/vim-jsx-pretty
[submodule "bundle/rails_extra"]
  path = bundle/rails_extra
  url = ../rails_extra.vim.git
[submodule "bundle/rust_wrap"]
  path = bundle/rust_wrap
  url = ../rust_wrap.vim.git
[submodule "bundle/jsonpath"]
  path = bundle/jsonpath
  url = https://github.com/mogelbrod/vim-jsonpath
[submodule "bundle/mundo"]
  path = bundle/mundo
  url = https://github.com/simnalamburt/vim-mundo
[submodule "bundle/commandlinecomplete"]
  path = bundle/commandlinecomplete
  url = https://github.com/j5shi/commandlinecomplete.vim
[submodule "bundle/shoot"]
  path = bundle/shoot
  url = https://github.com/JMcKiern/vim-shoot
[submodule "bundle/helpful"]
  path = bundle/helpful
  url = https://github.com/tweekmonster/helpful.vim
[submodule "bundle/colddeck"]
  path = bundle/colddeck
  url = ../vim-colddeck.git
[submodule "bundle/complimentary"]
  path = bundle/complimentary
  url = https://github.com/fcpg/vim-complimentary
[submodule "bundle/highlighturl"]
  path = bundle/highlighturl
  url = https://github.com/itchyny/vim-highlighturl
[submodule "bundle/dealwithit"]
  path = bundle/dealwithit
  url = https://github.com/AndrewRadev/dealwithit.vim
[submodule "bundle/rustbucket"]
  path = bundle/rustbucket
  url = ../rustbucket.vim.git
[submodule "bundle/graphql"]
  path = bundle/graphql
  url = https://github.com/jparise/vim-graphql
[submodule "bundle/prettier"]
  path = bundle/prettier
  url = https://github.com/prettier/vim-prettier
[submodule "bundle/ansi_esc"]
  path = bundle/ansi_esc
  url = https://github.com/powerman/vim-plugin-ansiesc
[submodule "bundle/diffurcate"]
  path = bundle/diffurcate
  url = ../diffurcate.vim.git
[submodule "bundle/iseven"]
  path = bundle/iseven
  url = ../iseven.vim.git
[submodule "bundle/whatif"]
  path = bundle/whatif
  url = ../whatif.vim.git
[submodule "bundle/popup_scrollbar"]
  path = bundle/popup_scrollbar
  url = ../popup_scrollbar.vim.git
[submodule "bundle/colorizer"]
  path = bundle/colorizer
  url = https://github.com/lilydjwg/colorizer
[submodule "bundle/strftime"]
  path = bundle/strftime
  url = ../strftime.vim.git
[submodule "bundle/ingo-library"]
  path = bundle/ingo-library
  url = https://github.com/inkarkat/vim-ingo-library
[submodule "bundle/syntax_range"]
  path = bundle/syntax_range
  url = https://github.com/inkarkat/vim-SyntaxRange
