# Ignore all tags files, just remember to rebuild them every once in a while:
tags
bundle/*/doc/tags
bundle/*/doc/tags-*
doc/tags
doc/tags-*

# Vimball record is machine-specific
.VimballRecord
bundle/*/.VimballRecord

.netrwhist
