snippet -
	<% ${1} %>${2}
snippet =
	<%= ${1} %>${2}
snippet --
	<%- ${1} -%>${2}
snippet #
	<%# ${1} %>${2}
snippet each
	<% ${1:@collection}.each do |${2:item}| %>
	  ${3}
	<% end %>
snippet if
	<% if ${1:true} %>
	  ${2}
	<% end %>
snippet ife
	<% if ${1:true} %>
	  ${2}
	<% else %>
	  ${3}
	<% end %>
