# Relations
snippet bt
	belongs_to ${1}
snippet hm
	has_many ${1}
snippet habtm
	has_and_belongs_to_many ${1}
# Validations
snippet vp
	validates_presence_of ${1}
snippet vu
	validates_uniqueness_of ${1}
snippet vn
	validates_numericality_of ${1}
