# Inside controllers:
snippet user
	$this->getUser()
snippet cx
	sfContext::getInstance()
# Doctrine:
snippet dtable
	Doctrine::getTable('${1:Model}')
# Snippets for lime tests:
snippet tnew
	$t = new lime_test(0, new lime_output_color);

snippet tdiag
	$t->diag('${1:Start test}');
snippet tis
	$t->is(${1:'Output'}, ${2:'Expected'}, ${3:'Error!'});
